parameters:
    level: 6
    paths:
        - src
        - tests
        - config
        - public
        - private/includes
    excludePaths:
        - vendor
        - coverage
        - cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    tmpDir: cache/phpstan
    ignoreErrors:
        - '#Undefined variable#'
        - '#undefined constant#'
        - '#Function [a-zA-Z0-9_]+ not found\.#'
